body{
    margin: 0;
    background-color: #3F3F44;
}

#page {
  min-height: 100vh;      /* full screen height */
  display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
}

#paper{
    width: 1120px;
    height: 1120px;            /* optional */
    background: #F7F7F7;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}